@import "tailwindcss";

@theme {
  --color-neutral-700: #22292f;
  --color-neutral-600: #333333;
  --color-neutral-500: #555555;
  --color-neutral-400: #777777;
  --color-neutral-300: #999999;
  --color-neutral-200: #cccccc;
  --color-neutral-100: #e1dbd6;
  --color-neutral-50: #f1f5f8;
  --color-brand-500: #ffe477;
  --color-stone-200: #f2efec;
  --color-stone-100: #fafaf9;

  --font-display: "Cardo";
  --font-sans: "Lato", "system-ui", "BlinkMacSystemFont", "-apple-system", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-serif: "Newsreader", "Lucida Bright", "Lucidabright", "Lucida Serif", "Lucida", "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", "Georgia", serif;
}

.textured {
  position: relative;
  overflow: hidden;
}

.textured::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  pointer-events: none;
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.01) 1px,
      transparent 1px);
  background-size: 100% 2px;
  /* mask-image: linear-gradient(to bottom, transparent, black); */
}