---
// Click button, get confetti!
// Styled by Tailwind :)
---

<button
	class="appearance-none py-2 px-4 text-neutral-500 font-sans rounded-lg focus:outline-none"
>
	<slot />
</button>

<script>
	const button = document.body.querySelector("button");

	if (button) {
		button.addEventListener("click", () => console.log("clicked"));
	}
</script>
