header {
  background-color: #ffffff;
  padding-top: 3rem;
  margin-bottom: 0;
}

header a {
  color: #333333;
  text-decoration: none;
}

header .back-link {
  color: #666666;
  font-size: 70%;
  margin-top: 1.5em;
  position: absolute;
  top: 0;
}

header .back-link:hover {
  color: #111111;
}

header h2 {
  margin-bottom: 0;
}

header .subtitle {
  color: #333333;
  font-size: 65%;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 48.0625em) {
  header {
    text-align: center;
  }
}
