header {
  background-color: #ffffff;
  padding-top: 3rem;
  margin-bottom: 0;
}

header a {
  color: #333333;
}

header h2 {
  margin-bottom: 0;
}

@media screen and (max-width: 48.0625em) {
  header {
    text-align: center;
  }
}
