header {
  background-color: #ffffff;
  margin-bottom: 0;
}

header a {
  color: #333333;
  text-decoration: none;
}

header h2 {
  margin-bottom: 0;
}

header .subtitle {
  color: #333333;
  font-size: 65%;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 48.0625em) {
  header {
    text-align: center;
  }
}

nav {
  margin: -1em 0 2em;
  text-align: right;
}

nav a {
  color: #666666;
  font-size: 70%;
  padding-left: 3em;
}

nav a:hover {
  color: #111111;
}

@media screen and (max-width: 48.0625em) {
  nav {
    text-align: center;
  }

  nav a {
    display: inline-block;
    padding: 0 0 0 0;
    width: 50%;
  }

  nav a:nth-child(1) {
    text-align: left;
  }

  nav a:nth-child(2) {
    text-align: right;
  }
}
