.post-metadata {
  padding-top: 1em;
  position: sticky;
  top: 0;
}

.post-metadata dl {
  border: 1px solid #cccccc;
  border-width: 1px 0;
  font-size: 70%;
  padding-top: 1em;
}

.post-metadata dd {
  margin-bottom: 1em;
}

@media screen and (min-width: 48.0625em) {
  .post-metadata {
    padding-right: 2em;
  }
}
