.post-metadata {
  padding: 1em 0;
  position: sticky;
  top: -1.1em;
}

.post-metadata dl {
  border: 1px solid #cccccc;
  border-width: 1px 0 0;
  font-size: 70%;
  padding-top: 2em;
}

.post-metadata dd {
  margin-bottom: 1em;
}

.post-metadata .copy-link {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (min-width: 48.0625em) {
  .post-metadata {
    padding-right: 2em;
  }
}
