.post-text blockquote {
  background-color: #e1dbd6;
  margin: 0 0 1em;
  padding: 1.5em;
}

.post-text p {
  font-size: 80%;
  line-height: 1.5;
}

@media screen and (min-width: 48.0625em) {
  .post-text {
    padding-right: 2em;
  }
}
