.filter-modal {
  background-color: #f2efec;
  font-size: 120%;
}

.filter-modal .modal-content {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.filter-modal .filters {
  text-align: center;
}
