.post-card {
  margin: 0 auto;
}

.post-card a {
  text-decoration: none;
}

.post-card img {
  margin-bottom: 0;
}

.post-card h3 {
  color: #333333;
  font-size: 125%;
  margin-bottom: 0.5em;
}

.post-card .subtitle {
  color: #333333;
  font-size: 60%;
  margin: 0.5em 0;
}

.post-card p {
  color: #333333;
  font-size: 80%;
  line-height: 1.5;
  margin-bottom: 0.5em;
}

.post-card .read-more {
  color: #777777;
  font-size: 70%;
  font-style: italic;
  text-align: left;
}

.post-card:hover .read-more {
  color: #333333;
}
